/* This must be the first line of the custom.css with other import rules */
@import url("https://cdn.jsdelivr.net/gh/pengx17/logseq-dev-theme@main/custom.css");

/* You can also add other styles below to override the default theme values */

.ls-block[haschild] > div > .block-content-wrapper::before {
      left: -13px;
}
.CodeMirror {
   font-family: "Fira Mono";
   font-size: 30px
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber,
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror {
  font-size: 14px !important;
  line-height: 1.5;
}
